<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-07-20T20:16:25Z</date>
	<key>WorkspacePath</key>
	<string>/Users/aayushiii24/Downloads/TRU-BMT-TRU-BLOOD 2/TRU-BMT.xcworkspace</string>
</dict>
</plist>
